.header {
  display: flex;
  flex-direction: column; /* 改变主轴方向为垂直 */
  padding: 10px;
  background: #f0f0f0;
}

.header-top-row {
  display: flex;
  justify-content: space-between; /* 项目在主轴上均匀分布 */
  align-items: center; /* 对齐文本和图像 */
  width: 100%; /* 占据整个容器宽度 */
}

.system-name {
  flex-grow: 1; /* 系统名称占据多余空间 */
  text-align: center;
  margin: 0; /* 重置h1默认的上下边距 */
}

.company-logo {
  width: 50px; /* 根据实际图片调整 */
  height: auto; /* 保持图片的比例 */
}

.user-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* 占据整个容器宽度 */
  margin-top: 10px; /* 可能需要一些上边距 */
}
